
.icon-appeal-icon:before { content: '\e800'; } /* '' */
.icon-clients-icon:before { content: '\e801'; } /* '' */
.icon-close-icon:before { content: '\e802'; } /* '' */
.icon-logout-icon:before { content: '\e803'; } /* '' */
.icon-profile-icon:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-staff-icon:before { content: '\e806'; } /* '' */
