@import '../../../../../common/styles/variables.scss';

.reviews {
    
}

.review-card {
    margin-top: 35px;
    width: 400px;
    min-height: 150px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #fcfeff;
    box-shadow: 0 0 7px #395170;

    &:first-child {
        margin-top: 0;
    }

    a {
        font-size: 25px;
        font-weight: 500;
        text-decoration: underline;
        color: #0c1420;
    }

    p {
        font-size: 22px;
        color: #000000;
    }
}