@import '../../../../../common/styles/variables.scss';

.files {
    @extend %display-flex-column;
    align-items: flex-start;
}

.file-link {
    margin-top: 10px;
    color: #6373b9;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}