@import '../../../../common/styles/variables.scss';
@import '../../../../common/styles/mixins.scss';

.clients-list {
    width: 100vw;
    padding: 0 122px;
    box-sizing: border-box;

    .custom-table {
        margin-top: 24px;
        width: 100%;

        .common-btn {
            width: 142px;
            height: 32px;
            font-weight: 700;
            font-size: 14px;
            z-index: 3;
            cursor: pointer;
        }

        th,
        td {
            &:nth-child(6) {
                width: 160px;
            }

            &:nth-child(7),
            &:last-child {
                position: relative;
                width: 162px;

                button {
                    position: absolute;
                    top: 12px;
                    left: 0;
                }
            }

            &:first-child,
            &:last-child {
            
                &::after {
                    top: 0;
                    height: calc(100% + 0.5px);
                }
            }
        }
    }
}