@import '../../../common/styles/variables.scss';
@import '../../../assets/libs/react-dates/lib/css/_datepicker.css';

.filter {
    position: relative;
    margin-top: 0;
    margin-left: -53px;
    width: 100%;
    height: auto;
    // height: 146px;
    @extend %display-flex-row;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 1;
    
    label {
        margin-top: 24px;
        margin-left: 53px;
        max-width: none;
        width: max-content;
        font-size: 16px;
        justify-content: flex-start;

        &::after {
            top: 16px;
            right: 12px;
            width: 14px;
            height: 14px;
            background-size: 14px;
        }

        &:first-child,
        &:nth-child(2) {
            .main-input {
                max-width: 160px !important;
                width: 160px !important;
            }

            .select-list {
                width: 160px;

                li {
                    &:nth-child(2) {
                        height: 86px;
                    }
                }
            }
        }

        &:nth-child(3) {
            .main-input {
                max-width: 374px;
                width: 374px;
            }

            .select-list {
                width: 374px;
            }
        }

        &:nth-child(4) {
            .main-input {
                max-width: 154px;
                width: 154px;
                padding-right: 0;
            }
        }

        .main-input {
            margin-left: 16px;
            height: 32px;
            font-size: 14px;
        }

        .select-list {
            top: 42px;
        }
    }

    .common-btn {
        margin-top: 24px;
        margin-left: 53px;
        width: 142px;
        height: 32px;
        font-size: 14px;
    }
}