@import '../../../common/styles/variables.scss';
@import '../../../common/styles/mixins.scss';

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 97px;
    padding: 31px calc(122px + 48px) 0 122px;
    box-sizing: border-box;
    @extend %display-flex-row;

    // not-adaptive
    // @include sm-down {
    //     width: 1376px;
    //     left: 0px;
    // }

    
    // Profile menu toggle
    .profile-menu-toggle {
        height: 56px;
        margin-right: 15px;
        padding: 5px 10px;
        @extend %display-flex-row;
        font-weight: 500;
        font-size: 24px;
        color: #333E43;        
        cursor: pointer;

        &:hover {
            .not-avatar {
                i {
                    color: #797b7c;
                }
            }
        }

        .avatar {
            width: 56px;
            height: 56px;
            margin-right: 13px;
            border-radius: 50%;
            background-color: #EBEFF2;
            // box-shadow: 0px 15px 25px rgba(150, 173, 255, 0.45);
        }

        .not-avatar {
            width: 54px;
            height: 54px;
            margin-right: 13px;
            border-radius: 50%;
            background: #EBEFF2;
            text-align: center;
            // box-shadow: 0px 15px 25px rgba(150, 173, 255, 0.45);

            i {
                line-height: 54px;
                font-size: 36px;
                color: #CFD9DB;
            }
        }
    }

    button {
        position: absolute;
        // right: calc(122px + 24px + 32px);
        width: 32px;
        height: 32px;
        padding: 5px;

        &:hover {
            i {
                color: #797b7c;
            }
        }

        i {
            transition: 0.3s;
            font-size: 28px;
            color: #9EA3A6;
        }
    }

    button:last-child {
        right: 122px;
    }
}

.admin-menu {
    @extend %display-flex-row;
    justify-content: flex-start;

    li {
        list-style-type: none;
        margin-left: 35px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 20px;
        color: #9EA3A6;

        &:first-child {
            margin-left: 0;
        }

        img {
            margin-right: 10px;
        }

        i {
            font-size: 24px;
            color: #9EA3A6;
        }

        a {
            width: 100%;
            height: 100%;
            padding: 16px 24px;
            border-radius: 15px;
            color: #9EA3A6;
        }
    }

    .active-link {
        background: #FDF4EF;
        border-radius: 15px;
        color: #EE825B;

        i {
            color: #EE825B;
        }
    }
}

// Burger
.burger-menu-btn {
    width: 28px;
    height: 14.4px;
    padding: 3px;
    border: 0;
    position: relative;
    @extend %display-flex-column;
    justify-content: space-between;
    align-items: flex-end;
    background: transparent;
    color: #ffffff;
    outline: none !important;
    cursor: pointer;
    z-index: 10;
    span {
        height: 2px;
        width: 28px;
        right: 0;
	    position: absolute;
        display: block;
        background-color: #222222;
	    border-radius: 2px;
	    transition: 0.3s linear;
        z-index: 201;
    }
    & span:nth-child(1) {
        width: 28px;
        top: 0;
    }
    & span:nth-child(2) {
        top: 46%;
        right: 0;
        width: 21px;
        height: 1.5px;
    }
    & span:nth-child(3) {
        width: 15px;
        bottom: 0;
        height: 1.5px;
    }
}

// not-adaptive
// @media screen and (max-width: 768px) {
//     .sidebar {
//         width: calc(100vw - 84px);
//     }
// }

// // Mobile
// @media screen and (max-width: 600px) {
//     .sidebar {
//         width: 100vw;
//         padding: 22px 20px;
//         left: 0;
//         justify-content: space-between;
//         .profile-menu-toggle {
//             order: 1;
//         }
//         button {
//             order: 2;
//         }
//     }
// }