@import '../../../../../common/styles/variables.scss';
@import '../../../../../common/styles/mixins.scss';

.client-details {
    width: 100%;
    padding: 0 122px 95px;
    box-sizing: border-box;
    @extend %display-flex-row;
    flex-wrap: wrap;
    align-items: flex-start;

    @include xl-down {
        padding: 95px 82px;
    }

    h1 {
        width: 100%;
        font-weight: 500;
        font-size: 48px;
        color: #EE825B;
    }
    
    fieldset {
        width: 45%;
        border: 0;
        padding: 0;
        @extend %display-flex-column;
        justify-content: flex-start;
        align-items: flex-start;
    
        @include xxl-down {
            width: 48%;
        }
    }
    
    h3 {
        font-weight: 500;
        font-size: 36px;
        color: #333E43;
    }
    
    label {
        margin-top: 56px;
        word-break: break-all;
        word-wrap: break-word;
    
        &:not(:first-child) {
            margin-top: 32px;
        }
    
        input {
            min-width: 470px;
            margin-left: 65px;
    
            @include xxl-down {
                min-width: 370px;
                width: 370px;
                margin-left: 0;
            }
        }
    
        @include xxl-down {
            font-size: 16px;
        }
    }
}